/* @import url('../css/info.css'); */
* {
  font-family: ‘SUIT’, sans-serif;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
/* .fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
} */
/************************** navigation *****************************/
.header__inner {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}
.header__inner li {
  cursor: pointer;
  font-size: 2em;
  /* margin: 0.5em; */
  /* border: 1px solid red; */
}
.date {
  display: flex;
  flex-direction: row;
  /* margin-left: 2em; */
  /* border: 1px solid red; */
}
.date__web {
  display: flex;
  flex-direction: row;
}
.date__link {
  position: relative;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  width: 5.11em;
  margin: 0;
  /* background-color: royalblue; */
  padding: 0.5em;
}
.date__mobile {
  display: none;
}

.activated--mark {
  position: absolute;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: rgb(247, 37, 0);
  top: 14%;
  right: 24%;
}
.info__link a {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: 2em;
}
/************************** aritist-bar  *****************************/
.artist {
  top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
  background-color: white;
}
.artist__name {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  width: 25%;
  padding: 0.5em 0;
  font-size: 1.2em;
}
/************************** main  *****************************/
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.video {
  margin-top: 0.5em;
  top: 6em;
  height: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}
.video__screen {
  width: 25%;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: relative;
  /* z-index: 99; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
  /* border-right: 1px solid rgba(0, 0, 0, 0.5); */
}
.video__file {
  /* position: absolute; */
  object-fit: cover;
  /*영상이 늘어나지 않고 비율 유지한 채 맞게*/
  width: 100%;
  height: 100%;
}
.text {
  position: absolute;
  /* overflow: hidden; */
  top: 21em;
  width: 100%;
  height: 40em;
  display: flex;
  flex-direction: row;
}

.text__desc {
  visibility: hidden;
  margin: 0.5em;
  width: 25%;
  /* border-right: 1px solid rgba(0, 0, 0, 0.5); */
  font-size: 1.5em;
}
.text__desc.active {
  visibility: visible;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
/************************** comment  *****************************/
.comment {
  width: 100%;
  /* height: 5em; */
  background-color: rgb(255, 255, 255);
  /* border: 1px solid black; */
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.comment__form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 4em;
  font-size: 1.2em;
  background-color: #fff;
}
.comment__form input,
select {
  margin-right: 1em;
  height: 3em;
  text-align: center;
  border-radius: 5px;
}
.comment__form--name {
  width: 15em;
  border: 0.5px solid #555;
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
}
.comment__form--content {
  width: 50em;
  border: 0.5px solid #555;
}
.comment__btn {
  width: 10em;
  height: 3em;
  background-color: rgb(191, 203, 236);
  border-radius: 10px;
}
/************************** modal  *****************************/
.modal {
  z-index: 100;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  color: black;
}
.modal__inner {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 20%;
  background-color: rgb(240, 240, 240);
  border-radius: 0.5em;
  color: #666;
}
.modal__desc {
  font-size: 1em;
}
.modal__desc--img {
  width: 3em;
}
.modal__btn {
  background-color: rgb(243, 241, 241);
  border: 1px solid rgba(102, 102, 102, 0.767);
  color: #666;
  border-radius: 0.5em;
  width: 3.5em;
  height: 2.5em;
}
.modal__btn:hover {
  background-color: #666;
  color: #fff;
}
/************************** response ****************************/
@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .header__inner li {
    cursor: pointer;
    font-size: 1.8em;
    /* margin: 0.5em; */
    /* border: 1px solid red; */
  }
  .modal__inner {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 20%;
    background-color: rgb(240, 240, 240);
    border-radius: 0.5em;
    color: #666;
    font-size: 0.9em;
    padding: 0 1em;
  }
}

@media (max-width: 576px) {
  .header__inner {
    z-index: 99;
  }
  .date__web {
    display: none;
  }
  .date__mobile {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;
    width: 5.11em;
  }
  .date__mobile .date__mobile__bar {
    font-size: 1.5em;
    color: #888;
    padding: 0.6em;
  }
  .date__mobile .date__links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.4em;
  }
  .date__mobile .date__link {
    text-align: center;
    margin: 0;
    background-color: #fff;
    padding: 0.5em;
    border-bottom: 1px solid #888;
  }
  .date__mobile .date__link:hover {
    background-color: rgb(233, 233, 233);
    color: black;
  }

  .main {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    justify-content: space-around;
  }

  .video {
    margin-top: 0.5em;
    top: 6em;
    /* height: 15em; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
  }
  .video__screen {
    width: 80%;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: relative;
    /* z-index: 99; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
    /* border-right: 1px solid rgba(0, 0, 0, 0.5); */
  }
  .video__file {
    /* position: absolute; */
    object-fit: cover;
    /*영상이 늘어나지 않고 비율 유지한 채 맞게*/
    width: 80%;
    height: 80%;
  }
  .modal__inner {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 20%;
    background-color: rgb(240, 240, 240);
    border-radius: 0.5em;
    color: #666;
    padding: 2em;
    font-size: 0.8em;
  }
  .modal__desc {
    margin: 1em 0;
  }
}
@media (max-width: 345px) {
  .modal__inner {
    width: 50%;
    height: 20%;
    padding: 2em;
    font-size: 0.8em;
  }
  .modal__desc {
    margin: 1em 0;
  }
  .modal__btn {
    margin-top: 1em;
    width: 3em;
    height: 2.5em;
  }
}
